################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/oleg_izolation/.vs
/oleg_izolation/oleg_izolation/bin
/oleg_izolation/oleg_izolation/obj/Debug
/oleg_izolation/packages
