<form style="width:300px; padding:20px;" id="call-back-form3" class="callback-form validate" novalidate="novalidate">

    <div style="display:none;" id="subbutton3" class="messages">Заявка отправлена</div>

    <h1 style="font-weight:bold; font-size:37px; margin-bottom:10px;">Получите консультацию специалиста</h1>
    <input type="text" placeholder="Ваше имя" style="height:40px" name="Name" id="name" required="required" class="required" />
    <input type="text" placeholder="Ваш телефон" style="height:40px" name="Phone" id="phone" required="required" class="required" />

    <a id="send" class="submit-button">Отправить заявку</a>
</form>
<script>
    $(document).ready(function () {

        var $form = $('#call-back-form3');
        var $name = $form.find('[name="Name"]');
        var $phone = $form.find('[name="Phone"]');

        var $button = $form.find('#send');
        $button.on('click', function () {
            if ($name.attr("value") != '' && $phone.attr("value") != '') {
                var data = {
                    Name: $name.attr("value"),
                    Phone: $phone.attr("value")
                }
                $.post("/CallBack/AddCallBack", data, function () {
                    $message.show();
                    setTimeout(function () {
                        $message.hide();
                        $.fancybox.close();
                    }, 1500);
                    new PNotify({
                        title: 'Успешно!',
                        text: 'Ваша заявка успешно отправлена.',
                        addclass: 'success',
                        icon: 'fa fa-info-circle',
                        opacity: 0.6,
                        nonblock: {
                            /*nonblock: true*/
                        }
                    });
                });
            }
        });

        $form.find("input[name='Phone']").mask("+7(999)999-99-99");

        var $message = $form.find('.messages');
    });
</script>
