
@{
    ViewBag.Title = "Контакты";
    ViewBag.PageName = "contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="article-inner">

    <h1>Контакты</h1>
    <div class="content">


        <p>Мы находимся по адресу:</p>

        <p>г. Санкт-Петербруг, пр-т Энергетиков, 10А, БЦ "Крол"</p>

        <p>Вы можете оставить заявку или задать вопрос. Мы вам обязательно ответим!</p>



        <form action="/site/contact" method="post" id="form_contact" class="form-contact">
            <div>
                <label for="fio-form">ФИО</label>
                <input type="text" name="name" id="fio-form" value="" class="input-form required input">
            </div>
            <div>
                <label for="email-form">Email</label>
                <input type="text" name="email" id="email-form" value="" class="input-form required input">
            </div>
            <div>
                <label for="phone-form">Телефон</label>
                <input type="text" name="phone" id="phone-form" value="" class="input-form required input">
            </div>
            <div>
                <label for="subject-form">Текст письма</label>
                <textarea name="comments" id="subject-form" class="textarea-form required textarea"></textarea>
            </div>
            
            <input type="hidden" name="guid" value="23a9a015a1f351121413693ae5c8b63b">
            <input type="hidden" name="redirect" value="%2Fkontakty">
            <input type="submit" value="Отправить" class="submit-form button">
        </form>
    </div>
    <script type="text/javascript">
	$(function(){
		$('a.pfb').fancybox({helpers:{title:{type:'inside'}}});
	});
    </script>

</div>

