
@{
    ViewBag.Title = "Контакты";
    ViewBag.PageName = "contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="article-inner">

    <h1>Контакты</h1>
    <div class="content">


        <p>Телефон: +7 (921) 903-21-60, +7 (905) 204-71-46</p>
        <p>Электронная почта: izolationspb@gmail.com</p>
        <p>ООО "Альянс плюс"</p>
        <br/>
        <p> Юридический адрес: 199406, г. Санкт-Петербург, ул. Наличная, д.31, кв.50</p>
        <p>  Р/сч 40702810912060003036</p>
        <p>  Филиал №7806 ВТБ24(ПАО), г. Санкт-Петербург</p>
        <br/>
        <p>Вы можете оставить заявку или задать вопрос. Мы вам обязательно ответим!</p>
        <br/>

            <form action="/CallBack/AddCallBack" method="post" id="form_contact" class="form-contact">
                <div>
                    <label for="fio-form">ФИО</label>
                    <input type="text" name="Name" id="fio-form" value="" class="input-form required input">
                </div>
                <div>
                    <label for="email-form">Email</label>
                    <input type="text" name="Email" id="email-form" value="" class="input-form required input">
                </div>
                <div>
                    <label for="phone-form">Телефон</label>
                    <input type="text" name="Phone" id="phone-form" value="" class="input-form required input">
                </div>
                <div>
                    <label for="subject-form">Текст письма</label>
                    <textarea name="Description" id="subject-form" class="textarea-form required textarea"></textarea>
                </div>
                <input type="submit" value="Отправить" class="submit-form button">
            </form>
</div>
    <script type="text/javascript">
	$(function(){
		$('a.pfb').fancybox({helpers:{title:{type:'inside'}}});
	});
    </script>

</div>

