
@{
    ViewBag.Title = "Главная страница";
    ViewBag.PageName = "home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>О компании</h1>
    <div class="content">


        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;"><font face="Times New Roman, serif"><span lang="ru-RU" xml:lang="ru-RU">Компания "Тёплый Дом" специализируется на предоставлении услуг по теплоизоляции напыляемым пенополиуретаном и</span></font><font color="#000000"><font face="Times New Roman, serif"><span lang="ru-RU" xml:lang="ru-RU">гидроизоляции</span></font></font><font face="Times New Roman, serif"><span lang="ru-RU" xml:lang="ru-RU">&nbsp;напыляемой полимочевиной.</span></font></p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;">&nbsp;</p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;"><font face="Times New Roman, serif"><span lang="ru-RU" xml:lang="ru-RU">Наши мастера имеют опыт работы с 2007 года. Это позволяет нам грамотно оценить сроки и стоимость, а также дать гарантию.</span></font></p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;">&nbsp;</p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;"><font face="Times New Roman, serif"><span lang="ru-RU" xml:lang="ru-RU">За время работы мы зарекомендовали себя как надежного партнера. Всегда находим индивидуальный подход и доступные варианты решения поставленных задач, все объекты сдаём в срок. Для нашей компании "тёплый дом" очень важно мнение наших клиентов и поэтому мы стремимся сделать качественную работу.</span></font></p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;">&nbsp;</p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;"><font face="Times New Roman, serif"><span lang="ru-RU" xml:lang="ru-RU">Выполняя&nbsp;</span></font><font color="#000000"><font face="Times New Roman, serif"><span lang="ru-RU" xml:lang="ru-RU">теплоизоляцию напыляемым пенополиуретаном и гидроизоляцию полимочевиной мы используем качественный и проверенный материал. Предоставляем сертификаты от производителя.</span></font></font></p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;">&nbsp;</p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;"><font face="Times New Roman, serif"><span lang="ru-RU" xml:lang="ru-RU">Все работы производятся собственным профессиональным оборудованием американской фирмы&nbsp;</span></font><font face="Times New Roman, serif">Graco</font><font face="Times New Roman, serif"><span lang="ru-RU" xml:lang="ru-RU">. Мы имеем установки высокого давления моделей Е-10,&nbsp;</span></font><em><font face="Times New Roman, serif">EXP</font><font face="Times New Roman, serif"><span lang="ru-RU" xml:lang="ru-RU">-2 и&nbsp;</span></font><font face="Times New Roman, serif">HХP</font></em><font face="Times New Roman, serif"><span lang="ru-RU" xml:lang="ru-RU">-2.</span></font></p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;">&nbsp;</p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;"><font color="#000000"><font face="Times New Roman, serif"><span lang="ru-RU" xml:lang="ru-RU">Наши специалисты готовы ответить на все вопросы и проконсультирова<wbr>ть в любое время по телефону:</span></font></font></p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;">&nbsp;</p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;"><font color="#000000"><font face="Times New Roman, serif"><span lang="ru-RU" xml:lang="ru-RU"><strong>+7(911)704-14-79</strong></span></font></font></p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;">&nbsp;</p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;"><font color="#000000"><font face="Times New Roman, serif"><span lang="ru-RU" xml:lang="ru-RU">по электронной почте&nbsp;</span></font></font></p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;">&nbsp;</p>

        <p><strong>zdesteplospb@gmail.com</strong></p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;">&nbsp;</p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;"><em><span style="color: rgb(0, 0, 0); font-family: 'Times New Roman', serif; font-size: 16px; font-style: italic; line-height: normal; text-align: justify;">или по форме обратной связи на нашем сайте&nbsp;</span></em></p>

        <p align="justify" class="western" style="color: rgb(0, 0, 0); font-family: 'Times New Roman', Times, serif; font-size: 16px; line-height: normal; margin-bottom: 0in;">&nbsp;</p>



        <form action="/CallBack/AddCallBack" method="post" id="form_contact" class="form-contact">
            <div>
                <label for="fio-form">ФИО</label>
                <input type="text" name="Name" id="fio-form" value="" class="input-form required input">
            </div>
            <div>
                <label for="email-form">Email</label>
                <input type="text" name="Email" id="email-form" value="" class="input-form required input">
            </div>
            <div>
                <label for="phone-form">Телефон</label>
                <input type="text" name="Phone" id="phone-form" value="" class="input-form required input">
            </div>
            <div>
                <label for="subject-form">Текст письма</label>
                <textarea name="Description" id="subject-form" class="textarea-form required textarea"></textarea>
            </div>
            <input type="submit" value="Отправить" class="submit-form button">
        </form>
    </div>
    <script type="text/javascript">
        $(function () {
            $('a.pfb').fancybox({ helpers: { title: { type: 'inside' } } });
        });
    </script>

