
@{
    ViewBag.Title = "Главная страница";
    ViewBag.PageName = "home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>О компании</h1>
    <div class="content">

        <p>Компания ооо "Альянс плюс" специализируется на предоставлении услуг по теплоизоляции напыляемым пенополиуретаном, гидроизоляция напыляемой полемочевиной и гидроизоляция методом инъектирования.</p>
        <p>Таким образом, на сегодняшний день компания обладает:</p>
        <ul>
            <li>большим опытом в области производимых работ,</li>
            <li>штатом квалифицированных и сертифицированных сотрудников,</li>
            <li>широкими партнерскими связями с поставщиками высококачественных гидроизолирующих материалов, технологий, спецоборудования, как на территории СНГ, так и за рубежом,</li>
            <li>квалификация инженерно-технического персонала позволяет производить и сопровождать выполнение проектных работ.</li>
            
        </ul>
        <br/>
        <p>Наши специалисты готовы ответить на все вопросы и проконсультировать в любое время по телефону: +79219032160</p>
        <br/>


        <form action="/CallBack/AddCallBack" method="post" id="form_contact" class="form-contact">
            <div>
                <label for="fio-form">ФИО</label>
                <input type="text" name="Name" id="fio-form" value="" class="input-form required input">
            </div>
            <div>
                <label for="email-form">Email</label>
                <input type="text" name="Email" id="email-form" value="" class="input-form required input">
            </div>
            <div>
                <label for="phone-form">Телефон</label>
                <input type="text" name="Phone" id="phone-form" value="" class="input-form required input">
            </div>
            <div>
                <label for="subject-form">Текст письма</label>
                <textarea name="Description" id="subject-form" class="textarea-form required textarea"></textarea>
            </div>
            <input type="submit" value="Отправить" class="submit-form button">
        </form>
    </div>
    <script type="text/javascript">
        $(function () {
            $('a.pfb').fancybox({ helpers: { title: { type: 'inside' } } });
        });
    </script>

