
@{
    ViewBag.Title = "Фото";
    ViewBag.PageName = "photo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/fancybox")

<div class="article-inner">

    <h1>Фото</h1>
    <div class="content">

        <div style="margin:20px 0px;">
            <a href="~/Content/Photos/1.jpg" title="утепление ангара" class="pfb" rel="img81">
            <a href="~/Content/Photos/1.jpg" class="fancyb">
                <img class="" src="~/Content/Photos/1_min.jpg" alt="утепление ангара" style="">
                </a>
            </a>
            <a href="~/Content/Photos/2.jpg" title="утепление ангара" class="pfb" rel="img81">
                <a href="~/Content/Photos/2.jpg" class="fancyb">
                    <img class="" src="~/Content/Photos/2_min.jpg" alt="утепление ангара" style="">
                </a>
            </a>
            <a href="~/Content/Photos/3.jpg" title="утепление ангара" class="pfb" rel="img81">
                <a href="~/Content/Photos/3.jpg" class="fancyb">
                    <img class="" src="~/Content/Photos/3_min.jpg" alt="утепление ангара" style="">
                </a>
            </a>
            <a href="~/Content/Photos/4.jpg" title="утепление ангара" class="pfb" rel="img81">
                <a href="~/Content/Photos/4.jpg" class="fancyb">
                    <img class="" src="~/Content/Photos/4_min.jpg" alt="утепление ангара" style="">
                </a>
            </a>
            <a href="~/Content/Photos/5.jpg" title="утепление ангара" class="pfb" rel="img81">
                <a href="~/Content/Photos/5.jpg" class="fancyb">
                    <img class="" src="~/Content/Photos/5_min.jpg" alt="утепление ангара" style="">
                </a>
            </a>
            <a href="~/Content/Photos/6.jpg" title="утепление ангара" class="pfb" rel="img81">
                <a href="~/Content/Photos/6.jpg" class="fancyb">
                    <img class="" src="~/Content/Photos/6_min.jpg" alt="утепление ангара" style="">
                </a>
            </a>
            <a href="~/Content/Photos/7.jpg" title="утепление ангара" class="pfb" rel="img81">
                <a href="~/Content/Photos/7.jpg" class="fancyb">
                    <img class="" src="~/Content/Photos/7_min.jpg" alt="утепление ангара" style="">
                </a>
            </a>
            <a href="~/Content/Photos/8.jpg" title="утепление ангара" class="pfb" rel="img81">
                <a href="~/Content/Photos/8.jpg" class="fancyb">
                    <img class="" src="~/Content/Photos/8_min.jpg" alt="утепление ангара" style="">
                </a>
            </a>
            <a href="~/Content/Photos/9.jpg" title="утепление ангара" class="pfb" rel="img81">
                <a href="~/Content/Photos/9.jpg" class="fancyb">
                    <img class="" src="~/Content/Photos/9_min.jpg" alt="утепление ангара" style="">
                </a>
            </a>
        </div>


    </div>
    <script type="text/javascript">
	$(function(){
		$('a.pfb').fancybox({helpers:{title:{type:'inside'}}});
	});
    </script>

</div>

