
@{
    ViewBag.Title = "Цены";
    ViewBag.PageName = "price";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <h1>Цены</h1>
    <div class="content">


        <table border="0" cellpadding="0" cellspacing="0" style="width:572px;" width="572">
            <colgroup>
                <col>
                <col>
                <col span="2">
            </colgroup>
            <tbody>
                <tr height="56">
                    <td colspan="4" height="56" style="height: 56px; width: 572px; text-align: center; vertical-align: middle;"><strong>Цена за напыление 1 м<sup>2</sup> пенополиуретана плотностью 35-40 кг/м<sup>3</sup> (закрытая ячейка)</strong></td>
                </tr>
                <tr height="32">
                    <td height="32" style="height: 32px; text-align: center; vertical-align: middle;"><em>Толщина</em></td>
                    <td style="text-align: center; vertical-align: middle;"><em>Единица измерения</em></td>
                    <td style="text-align: center; vertical-align: middle;"><em>Объем заказа до 500 м<sup>2</sup></em></td>
                    <td style="text-align: center; vertical-align: middle;"><em>Объем заказа более 501 м<sup>2</sup></em></td>
                </tr>
                <tr height="26">
                    <td height="26" style="height:27px;"><em>2,5 см</em></td>
                    <td style="text-align: center; vertical-align: middle;">руб/м<sup>2</sup></td>
                    <td style="text-align: center; vertical-align: middle;"><b>600</b></td>
                    <td style="text-align: center; vertical-align: middle;">договорная</td>
                </tr>
                <tr height="26">
                    <td height="26" style="height:27px;"><em>5 см</em></td>
                    <td style="text-align: center; vertical-align: middle;">руб/м<sup>2</sup></td>
                    <td style="text-align: center; vertical-align: middle;"><strong>850</strong></td>
                    <td style="text-align: center; vertical-align: middle;">договорная</td>
                </tr>
                <tr height="26">
                    <td height="26" style="height:27px;"><em>7,5 см</em></td>
                    <td style="text-align: center; vertical-align: middle;">руб/м<sup>2</sup></td>
                    <td style="text-align: center; vertical-align: middle;"><strong>1250</strong></td>
                    <td style="text-align: center; vertical-align: middle;">договорная</td>
                </tr>
                <tr height="26">
                    <td height="26" style="height:27px;"><em>10 см</em></td>
                    <td style="text-align: center; vertical-align: middle;">руб/м<sup>2</sup></td>
                    <td style="text-align: center; vertical-align: middle;"><strong>1700</strong></td>
                    <td style="text-align: center; vertical-align: middle;">договорная</td>
                </tr>
            </tbody>
        </table>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <table border="0" cellpadding="0" cellspacing="0" style="width:572px;" width="572">
            <colgroup>
                <col>
                <col>
                <col span="2">
            </colgroup>
            <tbody>
                <tr height="56">
                    <td colspan="4" height="56" style="height: 56px; width: 572px; text-align: center; vertical-align: middle;"><strong>Цена за напыление 1 м<sup>2 </sup>пенополиуретана плотностью 9-12 кг/м<sup>3</sup> (открытая ячейка)</strong></td>
                </tr>
                <tr height="32">
                    <td height="32" style="height: 32px; text-align: center; vertical-align: middle;"><em>Толщина</em></td>
                    <td style="text-align: center; vertical-align: middle;"><em>Единица измерения</em></td>
                    <td style="text-align: center; vertical-align: middle;"><em>Объем заказа до 500 м<sup>2</sup></em></td>
                    <td style="text-align: center; vertical-align: middle;"><em>Объем заказа более 501 м<sup>2</sup></em></td>
                </tr>
                <tr height="33">
                    <td height="33" style="height:33px;"><em>10 см</em></td>
                    <td style="text-align: center; vertical-align: middle;">руб/м2</td>
                    <td style="text-align: center; vertical-align: middle;"><strong>650</strong></td>
                    <td style="text-align: center; vertical-align: middle;">договорная</td>
                </tr>
                <tr height="33">
                    <td height="33" style="height:33px;"><em>15 см</em></td>
                    <td style="text-align: center; vertical-align: middle;">руб/м2</td>
                    <td style="text-align: center; vertical-align: middle;"><strong>850</strong></td>
                    <td style="text-align: center; vertical-align: middle;">договорная</td>
                </tr>
                <tr height="33">
                    <td height="33" style="height:33px;"><em>20 см</em></td>
                    <td style="text-align: center; vertical-align: middle;">руб/м2</td>
                    <td style="text-align: center; vertical-align: middle;"><strong>1200</strong></td>
                    <td style="text-align: center; vertical-align: middle;">договорная</td>
                </tr>
            </tbody>
        </table>

        <p>&nbsp;</p>

        <table border="0" cellpadding="0" cellspacing="0" style="width:636px;" width="635">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <tbody>
                <tr height="56">
                    <td colspan="4" height="56" style="height: 56px; text-align: center; vertical-align: middle;"><strong>Цена на заливку 1м<sup>3</sup> пенополиуретана</strong></td>
                </tr>
                <tr height="32">
                    <td colspan="2" height="32" style="height: 32px; text-align: center; vertical-align: middle;"><em>Вид ППУ</em></td>
                    <td style="text-align: center; vertical-align: middle;"><em>Единица измерения</em></td>
                    <td style="text-align: center; vertical-align: middle;"><em>Объем заказа</em></td>
                </tr>
                <tr height="40">
                    <td colspan="2" height="40" style="height:40px;width:212px;"><em>открытая ячейка (плотность 12-14 кг/м<sup>3</sup>)</em></td>
                    <td style="text-align: center; vertical-align: middle;">руб/м<sup>2</sup></td>
                    <td style="text-align: center; vertical-align: middle;">от 10 м<sup>3</sup> - <strong>8.000</strong></td>
                </tr>
                <tr height="41">
                    <td colspan="2" height="41" style="height:41px;width:212px;"><em>закрытая ячейка (плотность 30-35 кг/м<sup>3</sup>)</em></td>
                    <td style="text-align: center; vertical-align: middle;">руб/м<sup>2</sup></td>
                    <td style="text-align: center; vertical-align: middle;">от 8м<sup>3</sup> -<strong>20.000</strong></td>
                </tr>
            </tbody>
        </table>

        <p>&nbsp;</p>

        <table border="0" cellpadding="0" cellspacing="0" style="width:560px;" width="560">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <tbody>
                <tr height="56">
                    <td colspan="4" height="56" style="height: 56px; width: 560px; text-align: center; vertical-align: middle;"><strong>Цена за 1 м<sup>2</sup> гидроизоляции напыляемой полимочевиной</strong></td>
                </tr>
                <tr height="32">
                    <td height="32" style="height: 32px; text-align: center; vertical-align: middle;"><em>Толщина</em></td>
                    <td style="text-align: center; vertical-align: middle;"><em>Единица измерения</em></td>
                    <td style="text-align: center; vertical-align: middle;"><em>Объем заказа до 500 м<sup>2</sup></em></td>
                    <td style="text-align: center; vertical-align: middle;"><em>Объем заказа более 501 м<sup>2</sup></em></td>
                </tr>
                <tr height="26">
                    <td height="26" style="height:27px;"><em>1 мм</em></td>
                    <td style="text-align: center; vertical-align: middle;">руб/м<sup>2</sup></td>
                    <td style="text-align: center; vertical-align: middle;"><strong>1500</strong></td>
                    <td style="text-align: center; vertical-align: middle;">договорная</td>
                </tr>
                <tr height="26">
                    <td height="26" style="height:27px;"><em>2 мм</em></td>
                    <td style="text-align: center; vertical-align: top;">руб/м<sup>2</sup></td>
                    <td style="text-align: center; vertical-align: top;"><strong>2500</strong></td>
                    <td style="text-align: center; vertical-align: top;">договорная</td>
                </tr>
            </tbody>
        </table>



    </div>
    <script type="text/javascript">
	$(function(){
		$('a.pfb').fancybox({helpers:{title:{type:'inside'}}});
	});
    </script>

