
@{
    ViewBag.Title = "Рекомендации";
    ViewBag.PageName = "recomendation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h1>Рекомендации по утеплению</h1>
    <div class="content">


        <p class="p1" style="margin-bottom: 0.138889in; text-align: justify; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;">Рассчитаем толщину напылемого пенополиуретана для утепления (R<span class="s1" style="vertical-align: sub; font-size: smaller;">req)&nbsp;</span>кровли из железобетона по формуле:</p>

        <p class="p2" style="margin-bottom: 0.138889in; text-align: center; font-family: 'Times New Roman'; font-size: 10pt; color: rgb(0, 0, 0); line-height: normal;"><a id="i122613" name="i122613"><span class="s2" style="font-weight: bold; font-style: italic; color: black;">R</span><span class="s3" style="font-weight: bold; font-style: italic; color: black; vertical-align: sub; font-size: smaller;">req</span></a><span class="s4" style="font-style: italic;">&nbsp;= a&nbsp;D</span><span class="s5" style="font-style: italic; vertical-align: sub; font-size: smaller;">d</span><span class="s4" style="font-style: italic;">&nbsp;+ b,</span></p>

        <p class="p3" style="text-align: justify; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;"><span class="s6">Где&nbsp;</span><span class="s4" style="font-style: italic;">а=0,00045,</span><span class="s7" style="font-size: 10pt; font-style: italic;">&nbsp;</span><span class="s4" style="font-style: italic;">b=1,9&nbsp;</span><span class="s6">- коэффициенты сопротивления теплопередачи ограждающих конструкций, согласно СНиП 23-02, табл. 4.</span></p>

        <p class="p3" style="text-align: justify; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;"><span class="s4" style="font-style: italic;">D</span><span class="s5" style="font-style: italic; vertical-align: sub; font-size: smaller;">d&nbsp;</span><span class="s6">= 4796&nbsp;</span><span class="s8" style="vertical-align: super; font-size: smaller;">0</span><span class="s6">С*сут.&nbsp;</span><span class="s5" style="font-style: italic; vertical-align: sub; font-size: smaller;">–&nbsp;</span><span class="s6">градусо-сутки отопительного периода для г. Санкт-Петербург.</span></p>

        <p class="p1" style="margin-bottom: 0.138889in; text-align: justify; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;"><span class="s6">Получаем:</span></p>

        <p class="p2" style="margin-bottom: 0.138889in; text-align: center; font-family: 'Times New Roman'; font-size: 10pt; color: rgb(0, 0, 0); line-height: normal;"><span class="s4" style="font-style: italic;">R</span><span class="s5" style="font-style: italic; vertical-align: sub; font-size: smaller;">req&nbsp;</span><span class="s4" style="font-style: italic;">= 0,00045*4796+1,9 = 4,058 (м</span><span class="s9" style="font-style: italic; vertical-align: super; font-size: smaller;">2</span><span class="s4" style="font-style: italic;">*</span><span class="s9" style="font-style: italic; vertical-align: super; font-size: smaller;">0</span><span class="s4" style="font-style: italic;">С/Вт)</span></p>

        <p class="p3" style="text-align: justify; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;">Используя качественный материал, отвечающий всем требованиям (ТСН 12-305-95 СО) в своей работе, учтем, что коэффициент теплопроводности пенополиуретана с закрытой ячейкой в среднем равен 0,025 Вт/м<span class="s10" style="vertical-align: super; font-size: smaller;">2</span>, с открытой ячейкой равен 0,03 Вт/м<span class="s10" style="vertical-align: super; font-size: smaller;">2</span>.</p>

        <p class="p3" style="text-align: justify; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;">Зная данные показатели, рассчитываем рекомендованную толщину напыляемого пенополиуретана на поверхность:</p>

        <p class="p4" style="margin-bottom: 0.138889in; text-align: center; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;"><span class="s11" style="font-style: italic;">для кровли из железобетона толщина пенополиуретана с закрытой ячейкой (кол-во закрытых ячеек более 90%) плотностью 40 кг/м</span><span class="s12" style="font-style: italic; vertical-align: super; font-size: smaller;">3</span></p>

        <p class="p4" style="margin-bottom: 0.138889in; text-align: center; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;"><span class="s13" style="font-weight: bold;">Δ = 4,058*0,025 = 0,101 м (=10 см)</span></p>

        <p class="p4" style="margin-bottom: 0.138889in; text-align: center; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;"><span class="s11" style="font-style: italic;">для кровли из железобетона толщина пенополиуретана с открытой ячейкой (кол-во закрытых ячеек менее 50%) плотностью 8-12 кг/м</span><span class="s12" style="font-style: italic; vertical-align: super; font-size: smaller;">3</span></p>

        <p class="p4" style="margin-bottom: 0.138889in; text-align: center; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;"><span class="s13" style="font-weight: bold;">Δ = 4,058*0,03 = 0,122 м (=12 см)</span></p>

        <p class="p1" style="margin-bottom: 0.138889in; text-align: justify; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;">Аналогично рассчитываем толщину утеплителя для жилого деревянного дома с желаемойвнутренней температурой воздуха 22<span class="s10" style="vertical-align: super; font-size: smaller;">0</span>С и получаем:</p>

        <p class="p4" style="margin-bottom: 0.138889in; text-align: center; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;"><span class="s11" style="font-style: italic;">для стен жилого дома пенополиуретаном с закрытой ячейкой (кол-во закрытых ячеек более 90%)</span></p>

        <p class="p4" style="margin-bottom: 0.138889in; text-align: center; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;"><span class="s13" style="font-weight: bold;">Δ = 3,279*0,025 = 0,082 м (= 8,2 см)</span></p>

        <p class="p4" style="margin-bottom: 0.138889in; text-align: center; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;"><span class="s11" style="font-style: italic;">для стен жилого дома пенополиуретаном с открытой ячейкой (кол-во закрытых ячеек менее 50%)</span></p>

        <p class="p4" style="margin-bottom: 0.138889in; text-align: center; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;"><span class="s13" style="font-weight: bold;">Δ = 3,279*0,03 = 0,098 м (= 9,8 см)</span></p>

        <p class="p4" style="margin-bottom: 0.138889in; text-align: center; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;"><span class="s11" style="font-style: italic;">для потолка жилого дома пенополиуретаном с закрытой ячейкой (кол-во закрытых ячеек более 90%)</span></p>

        <p class="p4" style="margin-bottom: 0.138889in; text-align: center; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;"><span class="s13" style="font-weight: bold;">Δ = 4,31*0,025 = 0,108 м (=10,8 см)</span></p>

        <p class="p4" style="margin-bottom: 0.138889in; text-align: center; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;"><span class="s11" style="font-style: italic;">для потолка жилого дома пенополиуретаном с закрытой ячейкой (кол-во закрытых ячеек менее 50%)</span></p>

        <p class="p4" style="margin-bottom: 0.138889in; text-align: center; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;"><span class="s13" style="font-weight: bold;">Δ = 4,31*0,03 = 0,129 м (=12,9 см)</span></p>

        <p class="p1" style="margin-bottom: 0.138889in; text-align: justify; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;">Данные расчеты приведены без учета теплопроводности поверхности нанесения, не учтена влажность, а также количество окон в доме.</p>

        <p class="p1" style="margin-bottom: 0.138889in; text-align: justify; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;">При заказе и выборе утепления пенополиуретаном проконсультируйт<wbr>есь со специалистом, для определения необходимой толщины слоя для Вашего строения.</p>

        <p class="p1" style="margin-bottom: 0.138889in; text-align: justify; font-family: 'Times New Roman'; font-size: 16px; color: rgb(0, 0, 0); line-height: normal;">&nbsp;</p>



        <form action="/site/contact" method="post" id="form_contact" class="form-contact">
            <div>
                <label for="fio-form">ФИО</label>
                <input type="text" name="name" id="fio-form" value="" class="input-form required input">
            </div>
            <div>
                <label for="email-form">Email</label>
                <input type="text" name="email" id="email-form" value="" class="input-form required input">
            </div>
            <div>
                <label for="phone-form">Телефон</label>
                <input type="text" name="phone" id="phone-form" value="" class="input-form required input">
            </div>
            <div>
                <label for="subject-form">Текст письма</label>
                <textarea name="comments" id="subject-form" class="textarea-form required textarea"></textarea>
            </div>
            <input type="hidden" name="guid" value="b4c5d7eca6f62e92222661c9c69f5a40">
            <input type="hidden" name="redirect" value="%2Frekomendatsii_po_utepleniyu">
            <input type="submit" value="Отправить" class="submit-form button">
        </form>
    </div>
    <script type="text/javascript">
	$(function(){
		$('a.pfb').fancybox({helpers:{title:{type:'inside'}}});
	});
    </script>

