@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Гидроизоляция методом инъектирования";
    ViewBag.LeftMenu = "Gidroizolation_4";
}

<h1>Гидроизоляция методом инъектирования</h1>
<div class="content">


    <p>Принцип действия и области применения инъекционной гидроизоляции Инъектирования материалов осуществляется либо по границе объект-грунт, либо в само тело конструкции. В первом случае между фундаментом, стенами, перекрытиями и влагонасыщенным грунтом образуется мембрана. В зависимости от вида используемых составов образующаяся мембрана имеет разную жёсткость. При высоком уровне этого показателя мембрана играет двоякую роль – гидроизоляции и армирующего каркаса. При этом не только увеличивается уровень гидрозащиты объекта, но и происходит его дополнительное упрочнение. Применение метода инъекционной влагозащиты даёт возможность остановить протечки, гидроизолировать швы, отремонтировать трещины. Объекты, для которых рекомендована к применению проникающая гидроизоляция:</p>
    <p>Заглубленные сооружения – фундаменты, подвальные и цокольные этажи, подземные гаражные помещения. Водопроводы, подземные резервуары. Горные породы и несвязанные камни, грунты, которые необходимо стабилизировать для безопасного проведения землеройных работ. Туннели, станции и сооружения метрополитена. Мосты арочного типа, сооружённые из натурального камня. Кирпичная и каменная кладка сооружений, представляющих ценность с точки зрения архитектуры и истории. Любые объекты из бетона или железобетона с трещинами, конструктивными и усадочными швами, включая наполненные водой, конструкционными подвижными швами.</p>

</div>
<script type="text/javascript">
    $(function () {
        $('a.pfb').fancybox({ helpers: { title: { type: 'inside' } } });
    });
</script>
