@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Гидроизоляция вводов коммуникаций";
    ViewBag.LeftMenu = "Gidroizolation_5";
}

<h1>Гидроизоляция вводов коммуникаций</h1>
<div class="content">
    <p>Зачем: Вода проникает внутрь помещения через микрополость, которая существует на стыке конструкций, образующих этот технологический узел (стена-гильза, гильза- труба/кабель коммуникаций).</p>
    <br/>
    <p>Что делаем: Микрополость замоноличиваем безусадочными пломбирующими материалами. Поскольку этот узел образуется из стыка различных материалов (стена из бетона, а гильза или труба из металла, асбеста, ПВХ, ПНД), то для сохранения водонепроницаемости во время деформационных подвижек элементов этого узла дополнительно гидроизолируем гидроактивными (саморасширяющимся) и эластичными гидроизоляционными материалами. Для исключения капиллярного подсоса воды из участка стены вокруг места ввода коммуникаций гидроизолируем его проникающими гидроизоляционными составами.</p>
    <br/>
    <p>Результат: 100%-ная водонепроницаемость этого технологического узла даже при постоянном напоре воды и случае возможных подвижек элементов этого узла друг относительно друга. Преимущества: Создание надежной гидроизоляции мест ввода коммуникаций выполненных как из различных материалов самих коммуникаций, так и при различных сочетаниях размеров гильз и самих коммуникаций. Возможность выполнения работ как изнутри, так и снаружи здания. Проникающая гидроизоляция бетона выводов коммуникаций В районе вывода коммуникаций всегда образуется холодный шов, который является наиболее
        вероятным путем проникновения воды внутрь заглубленных подвальных помещений. В отличие от устаревших методов изоляции и герметизации мест вывода коммуникаций, современная высокотехнологичная проникающая гидроизоляция бетона позволяет качественно защитить подвальное помещение от влаги. Практичная проникающая гидроизоляция бетона надежно изолирует все холодные швы в местах вывода коммуникаций, не зависимо от того, из какого конкретно материала изготовлены гильзы, трубы или гофра.</p>

</div>
<script type="text/javascript">
    $(function () {
        $('a.pfb').fancybox({ helpers: { title: { type: 'inside' } } });
    });
</script>
