@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Гидроизоляция полимочевиной кровли";
    ViewBag.LeftMenu = "Gidroizolation_3";
}


<h1>Гидроизоляция полимочевиной  кровли</h1>
<div class="content">


    <p>Микроклимат в доме во многом зависит от надежности и гидроизоляции кровли. Помимо этого, дом остается подвержен влаге и перепадам температуры. Гидроизоляция полимочевиной – лучший способ сохранить уникальный и здоровый климат в помещении.</p>

    <p>&nbsp;</p>

    <h2>Преимущества использования полимочевины</h2>

    <ul>
        <li>Повышенная прочность и эластичность полимера;</li>
        <li>Возможность наносить на самые геометрически сложные конструкции.</li>
        <li>Устойчивость к агрессивным средам – атмосферным и химическим.</li>
        <li>Повышенная гидроизоляция.</li>
        <li>Экологичность полимера – предотвращает развитие болезнетворных организмов.</li>
        <li>Отличные диэлектрические показатели.</li>
        <li>Высокая пожаробезопасность материала.</li>
        <li>Универсальность – используется при изоляции крыш любой конфигурации из любого материала.</li>
        <li>Долговечность – срок эксплуатации превышает 50 лет.</li>
    </ul>

    <h2>Особенности применения полимочевины</h2>

    <p>Этот полимер наносится с помощью специального оборудования. Обязательным условием является тщательная подготовка поверхности, очистка поверхностей от пыли, грязи и нанесение грунта. Время застывания составляет всего 20 секунд.</p>



</div>
<script type="text/javascript">
    $(function () {
        $('a.pfb').fancybox({ helpers: { title: { type: 'inside' } } });
    });
</script>
