@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Гидроизоляция полимочевиной подвала";
    ViewBag.LeftMenu = "Gidroizolation_2";
}


    <h1>Гидроизоляция полимочевиной подвала</h1>
    <div class="content">


        <p>Так как основная нагрузка выпадает на фундамент и подвальные стены, то защита их от неблагоприятных воздействий внешней среды является первоочередной задачей. Помимо этого, подвалы часто служат местом хранения плодоовощной продукции и консервации, поэтому немаловажен микроклимат в помещении.</p>

        <h2>Преимущества использования полимочевины</h2>

        <ul>
            <li>Устойчивость к воздействию агрессивных сред</li>
            <li>Повышенные диэлектрические свойства.</li>
            <li>Быстрая скорость затвердевания – до 20 сек., благодаря чему материал не стекает с вертикальных поверхностей.</li>
            <li>Высокая гидроизоляция.</li>
            <li>Экологичность – предотвращает появление плесени и болезнетворных грибков.</li>
            <li>Жароустойчивость.</li>
            <li>Долговечность – срок эксплуатации превышает 50 лет.</li>
            <li>Эстетичность – используется как финишное покрытие.</li>
        </ul>

        <h2>Особенности применения полимочевины при гидроизоляции подвалов</h2>

        <p>Наносить полимочевину можно как на наружные, так и на внутренние поверхности помещения, однако с целью предотвращения отсыревания стен, лучше применять полимочевину снаружи или обработать поверхности с двух сторон. Перед нанесением состава обязательно проводится очистка от пыли и грязи, а также осушение влажных поверхностей.</p>



    </div>
    <script type="text/javascript">
	$(function(){
		$('a.pfb').fancybox({helpers:{title:{type:'inside'}}});
	});
    </script>
