@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Гидроизоляция полимочевиной фундамента";
    ViewBag.LeftMenu = "Gidroizolation_1";
}

<h1>Гидроизоляция полимочевиной фундамента</h1>
<div class="content">


    <p>Полимочевина, это полимер, обладающий высокой степенью сцепления с любой поверхностью. Благодаря ее уникальным свойствам – моментально затвердевать, ее можно использовать для гидроизоляции фундамента при любых температурных режимах.</p>

    <h2>Гидроизоляция полимочевиной фундамента и цоколя</h2>

    <p>Применяется для улучшения технических характеристик фундамента. Благодаря высоким гидроизоляционным свойствам полимочевина защищает фундамент от преждевременного разрушения под влиянием влаги и перепадов температуры.</p>

    <h2>Преимущества использования полимочевины</h2>

    <ul>
        <li>Универсальность – подходит для гидроизоляции фундаментов любого типа: монолитных, плитных, столбчатых, ленточных, свайных и пр.</li>
        <li>Долговечность – срок эксплуатации превышает 50 лет.</li>
        <li>Скорость затвердевания – составляет около 20 сек.</li>
        <li>Герметичность.</li>
        <li>Экологичность.</li>
    </ul>

    <h2>Методы нанесения полимочевины</h2>

    <p>Наносится на фундамент полимер с помощью специального оборудования. Толщина слоя нанесения регулируется соответственно пожеланиям заказчика, рекомендованная минимальная толщина нанесения - 2 мм. Перед нанесением полимочевины обязательно производится очистка поверхности от пыли и грязи, наносится грунт.&nbsp;</p>



</div>
<script type="text/javascript">
    $(function () {
        $('a.pfb').fancybox({ helpers: { title: { type: 'inside' } } });
    });
</script>
