@{
    ViewBag.Title = "Пенополиуретан";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.LeftMenu = "Penopyleyretan";
}


<h1>Пенополиуретан</h1>
<div class="content">


    <p>Пенополиуретан является строительным материалом, используемым для теплоизоляции объектов различного назначения. Благодаря низкой теплопроводности и невысокому водопоглощению ППУ остается одним из самых популярных в строительстве материалов.&nbsp; Выделяют несколько видов ППУ:</p>

    <p>По методу нанесения:</p>

    <ul>
        <li>напыляемый;</li>
        <li>
            заливочный.<br>
            &nbsp;
        </li>
    </ul>

    <p>По структуре:</p>

    <ul>
        <li>открытоячеестый;</li>
        <li>закрытоячеестый.</li>
    </ul>

    <h2>Где используется пенополиуретан</h2>

    <ul>
        <li>При строительстве объектов различного назначения как одна из составляющих сэндвич-панелей.</li>
        <li>Капитальном ремонте дач, частных домов, коттеджей, в качестве утеплителя наружных стен, чердаков.</li>
        <li>При теплоизоляции крыш в промышленном и частном секторе.</li>
        <li>В качестве теплоизоляции нефте и газопроводов, объектов химической промышленности.</li>
        <li>В качестве изоляции для тепловых сетей.</li>
    </ul>

    <h2>Преимущества пенополиуритана</h2>

    <ul>
        <li>Низкий коэффициент теплопроводности.</li>
        <li>Эффективная звукоизоляция.</li>
        <li>Небольшая плотность.</li>
        <li>Повышенная прочность.</li>
        <li>Возможность использовать при изоляции конструкций любой конфигурации.</li>
        <li>Длительный срок эксплуатации.</li>
        <li>Гигиеничность материала –используется в морозильных камерах, и при изоляции объектов пищевой промышленности.</li>
        <li>Безопасность – не подвержен гниению и устойчив к плесени и микроорганизмам.</li>
    </ul>



</div>
<script type="text/javascript">
    $(function () {
        $('a.pfb').fancybox({ helpers: { title: { type: 'inside' } } });
    });
</script>