@{
    ViewBag.Title = "Полимочевина";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.LeftMenu = "Polimochevina";
}


<h1>Полимочевина</h1>
<div class="content">


    <p>Полимочевина, это современное покрытие, обладающее не только изоляционными свойствами. Широко используют этот материал как антикоррозийный, в качестве абразивной защиты и как материал устойчивый к атмосферным воздействиям. Этими свойствами полимочевины и обусловлено широкое применение ее в различных сферах промышленности и строительства.</p>

    <h2>Где применяется полимочевина</h2>

    <ul>
        <li>При гидроизоляции помещений и кровли.</li>
        <li>Как защиту от коррозии.</li>
        <li>Как абразивное покрытие.</li>
        <li>При защите газо и нефтепровода;</li>
        <li>Как напольное покрытие в производственных помещениях и пр.</li>
    </ul>

    <h2>Преимущества полимочевины</h2>

    <ul>
        <li>Отсутствие с течением времени деформации и усадки.</li>
        <li>Износостойкость.</li>
        <li>Влагоустойчивость.</li>
        <li>Положительные диэлектрические свойства.</li>
        <li>Высокая скорость затвердения.</li>
        <li>Устойчивость к атмосферным явлениям.</li>
    </ul>

    <h2>Способы нанесения полимочевины.</h2>

    <p>Существует два метода нанесения –&nbsp; распыление и ручной. Метод ручного нанесения наиболее популярен при ремонте небольшого объема. Наиболее эффективным и качественным способом нанесения является напыление. При нанесении с помощью профессионального оборудования происходит смешивание двух компонентов, благодаря чему повышается качество гидроизоляционного слоя. Подходит для работы как на большом, так и на маленьком объеме. Важно помнить, этот материал наносится только на тщательно очищенные от строительной пыли, грязи, ржавчины и пр. поверхности. То есть, работа с полимочевиной требует специальной подготовки.</p>



</div>
<script type="text/javascript">
    $(function () {
        $('a.pfb').fancybox({ helpers: { title: { type: 'inside' } } });
    });
</script>