@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Утепление напыляемым пенополиуретаном ангара";
    ViewBag.LeftMenu = "Yteplenie_4";
}



<h1>Утепление напыляемым пенополиуретаном ангара</h1>
<div class="content">


    <p>Пенополиуретан – является высокотехнологичным материалом, который прекрасно сцепляется с любой поверхностью – бетон, металл, дерево, кирпич и пр. Основным его преимуществом является отсутствие швов. Именно поэтому он сегодня является одним из самых востребованных полимеров для утепления и защиты ангаров. Благодаря методу напыления, пенополиуретан создает сплошной защитный слой на конструкциях любой геометрической сложности.</p>

    <h2>Задачи, которые решает пенополиуретан</h2>

    <ul>
        <li>Защита металлоконструкций от коррозии и внешних воздействий.</li>
        <li>Звукоизоляция.</li>
        <li>Теплоизоляция.</li>
    </ul>

    <h2>Методы утепления</h2>

    <p>В зависимости от поставленных целей может быть проведено утепление как внутренней, так и наружной поверхности ангара.&nbsp; При этом может быть нанесен слой любой толщины – от &nbsp;1 сантиметра. При обработке ангара с двух сторон срок его эксплуатации значительно увеличится, за счет высокой герметизации и влагостойкости материала. Кроме того, значительно уменьшаться энергозатраты на отопление. Срок службы полиуретанового покрытия до 50 лет.</p>



</div>
<script type="text/javascript">
    $(function () {
        $('a.pfb').fancybox({ helpers: { title: { type: 'inside' } } });
    });
</script>
