@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Утепление напыляемым пенополиуретаном подвала";
    ViewBag.LeftMenu = "Yteplenie_2";
}


<h1> Утепление напыляемым пенополиуретаном подвала</h1>
<div class="content">


    <p>Подвальные помещения в основном отличаются повышенной влажностью, плохой циркуляцией воздуха низкой температурой в зимние месяцы. Для обеспечения подвальных помещений сухим воздухом, постоянной температурой и гигиеническими нормами проводятся работы по их теплоизоляции с применением пенополиуретана.</p>

    <h2>Виды утепления подвальных помещений</h2>

    <ol>
        <li>Внешнее утепление – наносится с помощью специального оборудования на поверхность со стороны улицы. Чаще применяется на этапе строительства дома.</li>
        <li>Внутреннее утепление – при таком методе необходимо осушить подвал, поверхность для несения пенополиуретана должна быть абсолютно сухой.</li>
    </ol>

    <h2>Преимущества утепления подвалов пенополиуретаном</h2>

    <ul>
        <li>Снижение затрат на обогрев здания;</li>
        <li>Возможность пользоваться подвальным помещениями для хранения плодоовощной продукции или вещей;</li>
        <li>Улучшение санитарно-гигиенических показателей – отсутствие плесени, сырости, патогенных микроорганизмов.</li>
    </ul>



</div>
<script type="text/javascript">
    $(function () {
        $('a.pfb').fancybox({ helpers: { title: { type: 'inside' } } });
    });
</script>
