@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Утепление напыляемым пенополиуретаном фургона";
    ViewBag.LeftMenu = "Yteplenie_5";
}


<h1>Утепление напыляемым пенополиуретаном фургона</h1>
<div class="content">


    <p>Наиболее практичным методом теплоизоляции фургонов является напыление пенополиуретана. В зависимости от целей, толщина такого покрытия варьируется. Благодаря, необычайной легкости материала, вес автомобиля не увеличивается, соответственно и расход топлива остается прежним.</p>

    <p>Преимущества утепления фургона пенополиуретаном</p>

    <ul>
        <li>Снижение теплопотерь.</li>
        <li>Защита металлического корпуса автомобиля от коррозии.</li>
        <li>Защита от промерзания.</li>
    </ul>

    <p>Такой фургон можно смело использовать как в коммерческих целях – перевозки продуктов, требующих низких (высоких) температур, так и для путешествий.</p>

    <h2>Технология напыления</h2>

    <p>Напыление материала производится с помощью специализированного оборудования. Перед нанесением пенополиуретана поверхность должна быть предварительно очищена. Наносится утеплитель на потолок, пол и стены фургона без применения каких-либо дополнительных крепежей, или составов на основе клея. После затвердевания материала можно проводить дальнейшую отделку фургона.&nbsp;</p>



</div>
<script type="text/javascript">
    $(function () {
        $('a.pfb').fancybox({ helpers: { title: { type: 'inside' } } });
    });
</script>
