@{
    ViewBag.Title = "Утепление напыляемым пенополиуретаном жилого дома";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.LeftMenu = "Yteplenie_1";
}



<h1>Утепление напыляемым пенополиуретаном  жилого дома </h1>
<div class="content">


    <p>Наиболее востребованный способ утепления жилых домов в странах ЕС и США, это напыление пенополиуретана. При помощи этой технологии возможно утеплить не только фасады, но и чердачные помещения, межкомнатные перегородки, стены (снаружи и внутри), цоколи, фундаменты, подвалы.</p>

    <p>Этот метод широко применим не только при утеплении уже готового жилья, но и при возведении каркасных коттеджей и домов, строительстве дач и бань из бревна или бруса.</p>

    <h2>Преимущества утепления пенополиуретаном:</h2>

    <ul>
        <li>Низкая теплопроводность.</li>
        <li>Повышенная звукоизоляция.</li>
        <li>Повышенная эластичность и прочность.</li>
        <li>Устойчивость к болезнетворным грибам, плесени и микробам.</li>
        <li>Гигиеничность -&nbsp; безопасно для человека и животных.</li>
        <li>Долговечность – срок службы от 50 лет, не подвержен атмосферным воздействиям, гниению и деформации.</li>
        <li>Простота при нанесении.</li>
        <li>Усиление конструктива дома.</li>
    </ul>

    <p style="margin-left:72.0pt;">&nbsp;</p>

    <h2>Технология нанесения пенополиуретана</h2>

    <p>Нанесение состава на поверхность происходит с помощью специального оборудования – высокого давления. Наносимая пена быстро застывает, образуя монолитное теплоизоляционное покрытие заданной толщины.</p>



</div>
<script type="text/javascript">
    $(function () {
        $('a.pfb').fancybox({ helpers: { title: { type: 'inside' } } });
    });
</script>
