@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Утепление напыляемым пенополиуретаном бани и сауны";
    ViewBag.LeftMenu = "Yteplenie_7";
}



<h1>Утепление напыляемым пенополиуретаном бани и сауны</h1>
<div class="content">


    <p>Требования, выдвигаемые к утеплению и изоляции саун и бань намного выше, чем для обычных помещений. Повышенная влага, горячий пар и другие воздействия могут нанести непоправимый вред стенам и кровле строения. Немаловажна и экологичность материала утепление и его жаростойкость.</p>

    <h2>Пенополиуретан – лучшее средство при утеплении бань и саун</h2>

    <ul>
        <li>Свойства этого современного материала позволяют достичь наиболее высоких показателей при теплоизоляции.</li>
        <li>Пенополиуретан не подвержен горению при температуре ниже 150С.</li>
        <li>При высоких температурах материал не выделяет вредных веществ.</li>
        <li>Обладает низкой гигдроскопичностью.</li>
        <li>При нанесении пенополиуретана наиболее высокая герметичность – материал наносится без швов и попадает даже в малодоступные места.</li>
        <li>Пенополиуретан является наиболее долговечным материалом, срок его эксплуатации превышает 50 лет.</li>
        <li>Пенополиуретан способствует экономии энергии, благодаря низкой теплопроводности.</li>
    </ul>



</div>
<script type="text/javascript">
    $(function () {
        $('a.pfb').fancybox({ helpers: { title: { type: 'inside' } } });
    });
</script>
