@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Утепление напыляемым пенополиуретаном фундамента и цоколя";
    ViewBag.LeftMenu = "Yteplenie_3";
}



<h1>Утепление напыляемым пенополиуретаном фундамента и цоколя</h1>
<div class="content">


    <p>Утепление цоколя или фундамента с помощью напыляемого пенополиуретана является важным аспектом при строительстве дома. Во-первых, благодаря теплоизоляционным свойствам снизятся энергозатраты на отопление здания. Во-вторых, благодаря пластичности и прочности материала строение будет меньше подвержено разрушениям и прослужит намного дольше.</p>

    <h2>Какое утепление лучше, внутреннее или внешнее</h2>

    <p>Целесообразно проводить внешнее утепление. При внутреннем утеплении сухими и прочными остаются только внутренние стены здания, а наружные подвержены внешним воздействиям. В итоге в стене концентрируется влага, а при морозе она может привести к деформации. Именно поэтому рекомендуется проводить наружное утепление, т.к. оно не только сохранит тепло, но и защитит здание от деформации и разрушения.</p>

    <h2>Преимущества метода напыления</h2>

    <ul>
        <li>При нанесении пенополиуретана методом напыления можно укрепить и усилить слабые места, нанося более толстый слой.</li>
        <li>После обработки получается ровная поверхность без швов;</li>
        <li>Возможность обработки труднодоступных мест и конструкций любой конфигурации;</li>
        <li>Срок службы покрытия – более 50 лет.</li>
        <li>Высокая скорость монтажа.</li>
    </ul>



</div>
<script type="text/javascript">
    $(function () {
        $('a.pfb').fancybox({ helpers: { title: { type: 'inside' } } });
    });
</script>
