@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Утепление напыляемым пенополиуретаном гаража";
    ViewBag.LeftMenu = "Yteplenie_6";
}


<div class="article-inner">

    <h1>Утепление напыляемым пенополиуретаном гаража</h1>
    <div class="content">


        <p>Атмосферные явления и влага разрушительно влияет на автомобиль. Кроме того, в морозные зимы автомобиль может не завестись в неподходящий момент. Именно поэтому ответственные владельцы автотранспорта выбирают пенополиуретан в качестве утеплителя для своих гаражей. Выгода такой технологии для сохранности автомобиля очевидна.</p>

        <h2>Преимущества напыляемого пенополиуретана</h2>

        <ul>
            <li>Одна из самых низких теплопроводностей среди современных утеплителей.</li>
            <li>Устойчивость к влаге и пару.</li>
            <li>Универсальность – пенополиуретан можно использовать на бетонных, металлических, кирпичных и пр. поверхностях</li>
            <li>Повышенная прочность и эластичность.</li>
            <li>Легкость материала – не перегружает конструкции.</li>
            <li>Положительные диэлектрические свойства.</li>
            <li>Монтаж даже в труднодоступные места.</li>
            <li>Длительный срок эксплуатации – от 50 лет и более.</li>
        </ul>

        <h2>Способы утепления гаража напыляемым пенополиуретаном</h2>

        <p>Работы по утеплению гаража проводятся как с внутренней, так и с наружной стороны гаража. Многие владельцы предпочитают провести работы по утепление с двух сторон, что в свою очередь даст двойной эффект и значительно увеличит срок службы здания и улучшит изоляцию гаража от атмосферных воздействий.</p>



    </div>
    <script type="text/javascript">
        $(function () {
            $('a.pfb').fancybox({ helpers: { title: { type: 'inside' } } });
        });
    </script>

</div>
